<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://thumbs.dreamstime.com/b/pool-billiards-human-next-to-red-table-snooker-cues-balls-logo-design-sport-game-tournament-player-vector-illustration-127057282.jpg" alt="" width="60" height="60">
      </a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rules">Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="store">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="more">More</a>
            </li>
          </ul>
          <span class="navbar-text">
          </span>
        </div>
      </nav>
  </nav>