<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
body {
  background-image: url("https://wallpaperaccess.com/full/3876811.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
    </style>
    <h1><b style="color: yellow">Tournament</b></h1>
    <p style="color: white">A tournament is a competition involving a given set of competitors. These competitors play against each others following a predefined path. Some competitors are eliminated along the way and, at the end, a single competitor is declared winner.

        In Toornament, competitors are defined as participants. The predefined path of matches is defined as the tournament’s structure and is composed of stages, groups, rounds, brackets, rankings and matches. A match can be further detailed with subsets of a match usually called games or match games.</p>
        <div class="grid">
            <img src="https://www.gannett-cdn.com/-mm-/46f97d872e9ef916bff073fdb4e72661514fe661/c=0-142-4826-2869/local/-/media/2016/07/11/FSUNews/FSUNews/636038551562525442-FSV-Zingales-9-Ball-Pool-Tournament-BB-07092016-0001.jpg?width=1200" width="300" height="250">
            <img src="https://probilliardseries.com/wp-content/uploads/2022/06/pbs_IG_220615_19272001-773x380.jpg" width="300" height="250">
        </div>

    <h2><b style="color: yellow">Participant</b></h2>
    <p style="color: white">The participant refers to the attendance of a competitor in a single tournament. A participant is tied to its tournament. In the case of one competitor taking part in several tournaments, he will be represented by one distinctive participant for each tournament.

        The participant is referenced each time there is a need to clearly identify a competitor in the tournament. For example, to identify who is playing a match or to identify the rank of a competitor in a ranking.</p>
        <div class="grid">
            <img src="https://probilliardseries.com/wp-content/uploads/2022/06/pbs_IG_220617_12111101-500x280.jpg">
        </div>
    <h3><b style="color:yellow">Stage</b></h3>
    <p style="color: white">A stage is a major step in a tournament. Its purpose is to arrange and organize the competition for some of the participants following a specific and standardized method. The method is defined by the type of stage.

        There are currently ten different types of stage supported on Toornament: single elimination, double elimination, gauntlet, round-robin groups, bracket groups, league and swiss system. And also three Free-for-all ones: simple, single elimination and bracket groups.
        
        Each has its own method to arrange matches between participants. Depending on its type, a stage may involve sub-elements of the structure: groups, rounds, matches, brackets and rankings.</p>
        <div class="grid">
            <img src="https://img.restaurantguru.com/rfe7-design-The-Stage-Music-Billiard-Food.jpg">
        </div>
</body>
    <%- include('partials/footer') %>
</html>