<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
      body {
        background-image: url("https://wallpaperaccess.com/full/3876811.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
     </style>
    <div class="grid">
        <div class="row">
            <h2 class="text-center mb-2">Find More Games Here😉</h2>
        </div>
    </div>
    <div class="grid">
      <h4><b>Carrom</b></h4>
      <img src="https://store-images.s-microsoft.com/image/apps.21102.14199795699488715.b04149d1-1ec5-43de-abf4-d87f73115f8f.9a13a854-a795-43f8-a60f-5fb447fba6c5?mode=scale&q=90&h=200&w=200&background=%230078D7" width="200" >
      <a href="https://gamesnacks.com/embed/games/carromclash"><p><b>Click here to have some fun😊</b></p></a>
        
      </div>
      <div class="grid">
        <h4><b>Domino</b></h4>
        <img src="https://play-lh.googleusercontent.com/vrqlfquaiIcP1-NG7uLC7Gd6miwqlCT4XpEag7NeR05dITx_QuCYWolgKSrcxpbnqA" width="200" height="250">
        <a href="https://www.addictinggames.com/puzzle/dominoes-classic"><p><b style="color: red">Have fun guys!😊</b></p></a>
      </div>
      <div class="grid">
        <img src="https://cdn.hswstatic.com/gif/checkers-2.jpg" width="200" height="150">
        <a href="https://www.coolmathgames.com/0-checkers"><p><b style="color: pink">Click here please🥺</b></p></a>
      </div>
      <br>
      <br>
      <br>

    <%- include('partials/footer') %>
</body>
</html>